.ab2-container {
  background-color: #ebedee;
  width: 100%;
  margin: auto;
  padding: 3%;
}

.ab2-content h1 {
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-size: 4vh;
  color: #22333b;
  padding: 3% 0% 4%;
}

.ab2-title {
  font-family: "Poppins", sans-serif;
  font-size: 2.8vh;
  font-weight: bold;
  color: #22333b;
}

.ab2-text-container {
  font-family: "Roboto", "sans-serif";
  padding: 3%;
  font-size: 2.1vh;
}

.ab2-text-container p {
  padding-bottom: 4%;
  font-size: 2.5vh;
}

/* SMARTPHONES */
@media (min-width: 320px) and (max-width: 480px) {
  .ab2-content h1 {
    font-size: 2.8vh;
  }

  .ab2-title {
    font-size: 2.4vh;
  }
  .ab2-content p {
    font-size: 2.2vh;
  }
}
