.ar-container {
  padding-top: 10%;
  min-height: 100vh;
  max-width: 100%;
}

.form-input {
  padding: 2%;
}

.ar-textarea h1 {
  font-family: "Poppins", sans-serif;
}

.ar-textarea p {
  font-family: "Roboto", "sans-serif";
  line-height: 150%;
  padding-top: 5%;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.addSubmitBtn {
  background-color: #141414;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-size: 2.5vh;
  font-weight: 700;
  font-family: "Poppins", sans-serif;
  color: rgb(255, 255, 255);
  margin: 45% auto 3 0;
  padding: 2% 5% 2% 5%;
}

.addSubmit {
  margin: 0px 2vw;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.addSubmitBtn:hover {
  background-color: #847a6e;
  border: none;
  cursor: pointer;
}

.addSubmit:hover {
  font-style: normal;
  font-weight: bolder;
  text-decoration: none;
  color: #ffffff;
}
