.ar-container {
  padding-top: 5%;
  min-height: 100vh;
  max-width: 100%;
  font-family: "Roboto", "sans-serif";
}

.form-input {
  padding: 2%;
}

.ar-textarea p {
  font-family: "Roboto", "sans-serif";
  width: 80%;
  font-size: 2.2vh;
}

.btn:focus {
  outline: none;
  box-shadow: none;
}

.addSubmitBtn {
  background-color: #141414;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.5vh;
  font-weight: 700;
  font-family: "Roboto", "sans-serif";
  color: rgb(255, 255, 255);
  margin: 45% auto 3 0;
  padding: 2% 5% 2% 5%;
}

.addSubmit {
  margin: 0px 2vw;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
}

.addSubmitBtn:hover {
  background-color: #847a6e;
  border: none;
  cursor: pointer;
}

.addSubmit:hover {
  font-style: normal;
  font-weight: bolder;
  text-decoration: none;
  color: #ffffff;
}

.ar-form-label {
  font-size: 2.2vh;
}

.ar-city {
  width: 40%;
}

.ar-state {
  width: 20%;
}

.arform-group {
  width: 96.5%;
  padding-top: 5%;
}

.ar-submitform-btn {
  background-color: #1d1918;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.5vh;
  font-family: "Roboto", "sans-serif";
  color: rgb(255, 255, 255);
  padding: 2% 2% 2%;
  border: none;
}

.ar-submitform-btn:hover {
  background-color: #534946;
  border: none;
  cursor: pointer;
}