.accordion-up-covid {
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.accordion-header-covid {
  background-color: transparent;
  border: none;
  text-decoration: none;
}

.accordion-header-covid p {
}

.openTrue {
  cursor: pointer;
  color: #e01a1a;
  border: none;
  float: right;
  outline: none;
  box-shadow: none;
  background-color: transparent;
}

.openTrue:hover {
  color: black;
}

.closeFalse:hover {
  color: black;
}

.closeFalse {
  cursor: pointer;
  outline: none;
  float: right;
  color: #463f3f;
  outline: none;
  box-shadow: none;
  border: none;
  background-color: transparent;
}
