.accordion-up-covid {
  border: none;
  text-decoration: none;
  font-family: "Roboto", "sans-serif";
  width: 100% ;
} 

/* .accordion-header-covid:hover {
  color: #585858;
  text-decoration: none;
}

.accordion-header-covid {
  color: #0c0b0c;
}   */

 

.vaccine-info-container a:hover {
  color: red;
  font-weight: bold;
}

.vaccine-info-container a {
  text-decoration: none;
  color: red;
}

.openTrue {
  cursor: pointer;
  border: none;
  outline: none;
  color: #110f0f;
  text-decoration: none;
  box-shadow: none;
  background-color: transparent;
}

.openTrue:hover
.closeFalse:hover {
  text-decoration: none;
  color: #110f0f;
  font-weight: bold;
}

.closeFalse {
  cursor: pointer;
  outline: none;
  color: rgb(163, 13, 13);
  text-decoration: none;
  outline: none;
  box-shadow: none;
  border: none;
  background-color: transparent;
}

@media (min-width: 568px) {
  .accordion-header-covid p {
    font-size: 4vh;
    margin: 0;
    text-decoration: none;
    color: #110f0f;
  }
}

@media (min-width: 990px) {
 .accordion-header-covid p {
   font-size: 4vh;
   margin: 0;
   text-decoration: none;
   color: #110f0f;
 }
}

@media (min-width: 1275px) {
  .vaccine-info-container {
    padding: 2% 5%;
    font-size: 2.5vh;
  }

  .accordion-up-covid h2{
    text-align: left;
    padding: 1% 4% 0%;
  }
}
