.footer {
 
  bottom: 0;
  padding: 4% 15% 2% 5%;
}

.ft-text {
  font-weight: bolder;
  font-size: 4vh;
  line-height: 110%;
  font-family: "Roboto", "sans-serif";
}

.ft-text li {
  font-size: 2.5vh;
  font-family: "Roboto", "sans-serif";
}

.col-lg {
 padding-left: 80%;
 
}

.ft-link {
  text-align: center;
  font-size: 2.5vh;
  font-family: "Roboto", "sans-serif";
  text-decoration: none;
  color: #222831;
  cursor: pointer;
}

.ft-link-logo {
  font-family: "Roboto", "sans-serif";
  text-decoration: none;
  color: #222831;
}

.ft-link:hover,
.ft-link-logo:hover {
  font-weight: 500;
  text-decoration: none;
  color: #222831;
  font-family: "Roboto", "sans-serif";
}
