.lp-container {
  background-image: url("../Images/luka-reedy-xofLF1-LB58-unsplash.jpg");
  min-height: 100vh;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #e0e0e0;
}

.lp-title {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-size: 4.2vh;
  padding-top: 2.2vh;
  font-weight: bolder;
  margin-left: 5vh;
  color: #fcfcfc;
  opacity: 55%;
}

.lp-nav {
  font-size: 6vh;
  font-family: "Roboto", "sans-serif";
  cursor: pointer;
  margin-left: 15vh;
}

.lp-link2 {
  margin: 0px 0.5vw;
  text-decoration: none;
  color: #222831;
  cursor: pointer;
}

.lp-link {
  margin: 0px 1vw 0vw 0vw;
  text-decoration: none;
  color: #222831;
  cursor: pointer;
  font-weight: bold;
}

.lp-link:hover {
  font-style: normal;
  font-weight: normal;
  text-decoration: none;
  color: #222831;
}

.lp-link2:hover {
  font-style: normal;
  font-weight: bold;
  text-decoration: none;
  color: #222831;
}

.lp-flex-container {
  display: flex;
  flex-direction: column;
  float: right;
  margin-top: 40vh;
  outline: none;
  position: relative;
}

.searchDirectoryBtn {
  border: none;
  border-radius: 15px;
  background-color: #c6ac8f;
  margin: 65px 75px 60px auto;
  padding: 5px 60px 5px;
}

.searchText {
  display: inline;
  font-family: "Roboto", "Helvetica";
  font-size: 4vh;
  color: #ffffff;
  width: 13em;
  line-height: 2.5em;
}

.btnLink {
  margin: 0px 2vw;
  text-decoration: none;
  color: #3f2d19;
  cursor: pointer;
}

.btnLink:hover {
  font-style: normal;
  font-weight: bolder;
  text-decoration: none;
  color: #3f2d19;
}

.searchDirectoryBtn:hover {
  background-color: #847a6e;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.emergencyLinesBtn {
  background-color: #c29f9f;
  border: none;
  border-radius: 15px;
  outline: none;
  max-height: 10vh;
  margin-right: 7vh;
  width: 50vh;
  margin-top: 10px;
}

.emergencyText {
  display: inline;
  font-family: "Roboto", "Helvetica";
  font-size: 2.7vh;
  width: 13em;
  line-height: 3.5em;
  color: rgba(94, 80, 63, 0.85);
}

.emergencyLinesBtn:hover {
  background-color: #c8b7b7;
  border: none;
  border-radius: 15px;
  cursor: pointer;
}

.phone {
  font-size: 2.5vh;
  display: absolute;
}

.chevIconSearch {
  font-size: 2.4vh;
  display: absolute;
}

.lp-covid-jumbo {
  padding: 2% 0% 2%;
  font-family: "Roboto", "sans-serif";
  text-decoration: none;
}
.lp-covid-jumbo p {
  font-size: 2vh;
  /* padding: 3% 8% 0%; */
}

.lp-covid-jumbo a {
  text-decoration: none;
  color: rgb(156, 35, 35);
}

.lp-covid-jumbo h4 {
  text-transform: uppercase;
}

.lp-jumbo-link:hover {
  font-weight: bold;
}

.lp-jumbo-link {
  text-decoration: none;
}

/* SMARTPHONES */
@media (min-width: 320px) and (max-width: 680px) {
  .lp-container {
    min-height: 60vh;
  }
}
