.form-container h1 {
  font-weight: bold;
  color: rgb(255, 255, 255);
  font-size: 6vh;
  letter-spacing: 2px;
  /* text-align: center; */
}
.form-container a:hover {
  font-weight: bold;
}
.form-container a {
  color: #291f1f;
  text-decoration: none;
  padding: 5% 0% 5%;
}

.forgot-link {
  margin-left: 43%;
  text-transform: uppercase;
}
.form-container p {
  font-size: 2.2vh;
  color: #bbb6b6;
  text-decoration: none;
  padding: 10% 0% 0%;
  text-transform: uppercase;
  text-align: center;
}

.Login-modal-btn a {
  color: white;
  font-size: 2.2vh;
  letter-spacing: 1px;
}

.Login-modal-btn a:hover {
  color: white;
  font-size: 2.2vh;
  font-weight: normal;
}

/* .form-container h5 {
  color: #bbb6b6;
  font-size: 1.8vh;
  text-decoration: none;
  padding: 2% 0% 5%;
  text-align: center;
} */

.logContainer {
  /* background-color: #ffffff; */
  border-radius: 0px;
  box-shadow: 0 14px 20px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  position: relative;
  overflow: hidden;
  width: 765px;
  max-width: 100%;
  min-height: 80vh;
}

.Login-modal-btn {
  background-color: rgb(20, 18, 18);
  border: none;
  text-transform: uppercase;
  outline: none;
  color: #eee;
  font-size: 2.5vh;
  margin: 8%;
  padding: 3%;
  transition: transform 80ms ease-in;
}

.Login-modal-btn:hover {
  background-color: rgb(36, 29, 29);
  border: none;
  text-transform: uppercase;
  outline: none;
  margin: 8%;
  padding: 3%;
  transition: transform 80ms ease-in;
}

.Login-modal-btn:active {
  transform: scale(0.95);
}

.form-container form {
  background-color: #4b4343;
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 75vh;
  /* text-align: center; */
}

.form-container {
  position: absolute;
  width: 100%;
  font-family: "Roboto", "sans-serif";
  transition: all 0.6 ease-in-out;
}

.form-container input {
  background-color: #eee;
  border: none;
  padding: 15px 18px;
  outline: none;
  box-shadow: none;
  height: 8%;
  font-size: 2.5vh;
  margin: 12px 0;
  width: 100%;
}

.sign-in-container {
  width: 100%;
}

.showPw-btn {
  background-color: transparent;
  border: none;
  padding: 0;
  color: #291f1f;
  font-size: 1.5vh;
  text-transform: uppercase;
  text-align: left;
  width: 32%;
  outline: none;
  box-shadow: none;
}

.showPw-btn:hover {
  background-color: transparent;
  border: none;
  color: #2e2525;
  font-weight: bold;
  padding-top: 0;
  font-size: 1.5vh;
  text-transform: uppercase;
  text-align: left;
  width: 32%;
  padding: 0;
}

.email-pw-label {
  color: white;
  padding-top: 5%;
}
/* .loginBtn {
  font-size: 2.5vh;
  font-family: "Roboto", "sans-serif";
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  cursor: pointer;
} */
/* 
.loginBtn:hover {
  color: #ffffff;
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}

.btn:focus {
  outline: none;
  box-shadow: none;
} */

/* .lp-rp-link {
  color: aqua;
  background-color: #000000;
} */
