.btn {
	border: none;
	background: none;
	margin: 0px 0.4vw;
	color: #222831;
	cursor: pointer;
	font-size: 2vh;
}

.btn-primary:hover,
.btn-primary:focus,
.btn-primary:active,
.btn-primary.active,
.open > .dropdown-toggle.btn-primary {
	background: none;
	font-weight: bold;
	font-style: normal;
	font-weight: bold;
	text-decoration: none;
	color: #222831;
}

 .modal-body {
   width: 50%;
   background-color: aliceblue;
   height: 100%;
 }