.rp-container {
  font-family: "Roberto", sans-serif;
}

.col-sm-3 {
  background-image: url("../Images/brick.jpg");
  min-height: 100vh;
  max-width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.rp-form {
  margin: 5%;
  outline: none;
  box-shadow: none;
}

/* .rp-title {
  font-size: 3vh;
  padding: 5% 5% 0%;
} */

.rp-label {
  padding: 2%;
}

.rp-submit {
  background-color: #302e2e;
  font-size: 3vh;
  font-family: "Roboto", "sans-serif";
  cursor: pointer;
  text-decoration: none;
  color: #e4e0e0;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  margin: 2% 2vh;
  padding: 2% 4% 2% ;
}

.rp-submit:hover {
  font-weight: 700;
  border: none;
  cursor: pointer;
  outline: none;
  box-shadow: none;
  text-decoration: underline;
  color: #e4e0e0;
}

.usr-login {
  float: right;
}


.rp-intro {
    font-size: 4vh;
    padding-bottom: 2%;
}

.rp-terms {
    padding-top: 2%;
}

/* // Extra small devices (portrait phones, less than 576px) */
@media (max-width: 575px) { 
  .col-sm-3 {
    background-image: url("../Images/brick.jpg");
    min-height: 35vh;
    max-width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #e0e0e0;
  }
 }

/* SMARTPHONES */
@media (min-width : 320px)
and (max-width : 480px) { 
  .rp-intro {
    font-size: 3vh;
    padding-bottom: 10%;
}

.rp-form {
margin-top: 6.5%;
  outline: none;
  box-shadow: none;
}

.rp-terms {
  padding: 2% 0% 15%;
}

.rp-submit {
    background-color: #302e2e;
    font-size: 3vh;
    font-family: "Roboto", "sans-serif";
    cursor: pointer;
    text-decoration: none;
    color: #e4e0e0;
    cursor: pointer;
    outline: none;
    box-shadow: none;
    margin: 10% 1vh;
    padding: 2% 4% 2% ;
  }

}
