.rpass-container {
  margin: 25% 5%;
  font-family: "Roboto", "sans-serif";
  outline: none;
  box-shadow: none;
}

.reset-submitBtn {
  font-size: 3.2vh;
  border: none;
  background-color: rgb(19, 19, 18);
  width: 100%;
  text-transform: uppercase;
  color: white;
  margin-top: 3%;
}

.reset-submitBtn:hover {
  font-size: 3.2vh;
  border: none;
  background-color: rgb(78, 69, 62);
  width: 100%;
  text-transform: uppercase;
  color: white;
  margin-top: 3%;
}


.reset-submitBtn:disabled {
  background-color: darkgray;
}

.toast-alert {
  font-size: 4vh;
}

/* .rpass-submit {
 
  outline: none;
  box-shadow: none;
} */

/* .rpass-submitBtn:hover {
  background-color: #474343;
  border: none;
  text-transform: uppercase;

  border-radius: 0%;
 
  width: 100%;
}

.rpass-submitBtn:disabled {
  background-color: #63595965;
  border: none;
  text-transform: uppercase;

 
} */

.rp-email-input {
  font-size: 2.8vh;
  /* outline: none;
  box-shadow: none; */
}

.reset-text p {
  padding-bottom: 5%;
}

@media (min-width: 568px) {
  .rpass-container {
    margin: 12% 10% 30% 10%;
  }

  .reset-submitBtn {
    font-size: 3vh;
    padding: 2%;
  }

  .reset-submitBtn:hover {
    font-size: 3vh;
    padding: 2%;
  }

  .reset-text p {
    padding: 2% 2% 10% 0%;
    font-size: 2.2vh;
  }

  .rp-email-input {
    font-size: 2.5vh;
  }

  .toast-alert {
    font-size: 3.4vh;
    width: 80%;
  }

  /* .rpass-email {
    width: 100%;
  }

  .rp-input {
    padding-left: 8.5%;
  } */
}

@media (min-width: 990px) {
  .rpass-container {
    margin: 12% 10% 45% 10%;
  }

  .reset-submitBtn {
    font-size: 2.5vh;
    padding: 2%;
  }

  .reset-submitBtn:hover {
    font-size: 2.5vh;
    padding: 2%;
  }

  .toast-alert {
    font-size: 3vh;
  }
}

@media (min-width: 1275px) {
  .rpass-container {
    margin: 5% 0% 10% 15%;
  }

  .reset-submitBtn {
    font-size: 3vh;
    width: 50%;
  }

  .reset-submitBtn:hover {
    font-size: 3vh;
    width: 50%;
  }

  .reset-text p {
    padding: 2% 50% 3% 0%;
    font-size: 3.5vh;
  }

  .rp-email-input {
    font-size: 2.5vh;
    width: 50%;
  }

  .toast-alert {
    font-size: 4vh;
    width: 50%;
  }


}
