.rpass-container {
 margin: 30% 5%;
  font-family: "Roboto", "sans-serif";
}


.rpass-submit {
  padding-top: 5%;
  outline: none;
  box-shadow: none;
}

.rpass-submitBtn {
  background-color: #1b1919;
  border: none;
  text-transform: uppercase;
 
  border-radius: 0%;
  outline: none;
  box-shadow: none;
  width: 100%;
}

.rpass-submitBtn:hover {
  background-color: #474343;
  border: none;
  text-transform: uppercase;
 
  border-radius: 0%;
  outline: none;
  box-shadow: none;
  width: 100%;
}

.rpass-email {
  padding: 3%;
  outline: none;
  box-shadow: none;
}

.reset-text p {
  padding-bottom: 5%;
}


@media (min-width: 568px) {
  .rpass-container {
    margin: 8%;
     font-family: "Roboto", "sans-serif";
   }

   .reset-text p {
    padding: 2% 10% 2% 0%;
    font-size: 2.5vh;
  }

   .rpass-submitBtn {
    width: 91%;
    padding: 2%;
  }
  
  .rpass-submitBtn:hover {
    width: 91%;
  }

  .rpass-email {
    width: 100%;
  }

  .rp-input{
    padding-left:8.5% ;
  } 
}

@media (min-width: 990px) {
  .rpass-container {
    margin: 8% 18%;
     font-family: "Roboto", "sans-serif";
   }

   .reset-text p {
    padding: 2% 10% 2% 0%;
    font-size: 2.5vh;
  }

   .rpass-submitBtn {
    width: 73%;
    padding: 2%;
  }
  
  .rpass-submitBtn:hover {
    width: 73%;
  }

  .rpass-email {
    padding: 1%;
    width: 80%;
  }

  .rp-input{
    padding-left:8.5% ;
  }
}





@media (min-width: 1275px) {
  .rpass-container {
    margin: 5% 15%;
     font-family: "Roboto", "sans-serif";
   }
   
}