.rpass-container {
  min-height: 100vh;
  max-width: 100%;
  background-color: #0c0b0b;
  font-family: "Roboto", "sans-serif";
}

.form-col {
  background-color: #f0f0f0;
  padding: 10%;
  margin: 10%;
}

.rpass-submit {
  padding-top: 5%;
  outline: none;
  box-shadow: none;
}

.rpass-submitBtn {
  background-color: #1b1919;
  border: none;
  text-transform: uppercase;
  font-size: 3vh;
  border-radius: 0%;
  outline: none;
  box-shadow: none;
  width: 100%;
}

.rpass-submitBtn:hover {
  background-color: #474343;
  border: none;
  text-transform: uppercase;
  font-size: 3vh;
  border-radius: 0%;
  outline: none;
  box-shadow: none;
  width: 100%;
}

.rpass-email {
  padding: 3%;
  font-size: 2vh;
  outline: none;
  box-shadow: none;
}

.reset-text p {
  font-size: 2.5vh;
  padding-bottom: 5%;
}
