*:focus {
  outline: 0 !important;
}

.sd-container {
  width: 100%;
  font-family: "Roboto", "sans-serif";
  padding: 4% 2% 0%;
}

/* .sd-title {
  font-family: "Roboto", "sans-serif";
  font-style: normal;
  font-size: 6vh;
  text-align: left;
  padding: 2vh 4vh 3vh;
  color: #383636;
} */

.filter {
  display: flex;
}

input[type="text"] {
  padding: 1vh 3vh;
  border: 1px solid #686464;
  width: 100%;
  box-sizing: border-box;
}
.sd-filterContainer {
  width: 50%;
  padding: 2% 3%;
}
/* .col-6.p-main {
 padding: 5% 5% 2%;
} */
.sd-results-container {
  background-color: #fafafa;
  padding: 2%;
}

.sd-search-results {
  padding: 3% 4% 2%;
  font-family: "Roboto", "sans-serif";
}

.sd-search-results p {
  font-size: 2.5vh;
}

.sd-search-results h1 {
  font-size: 4.5vh;
  font-family: "Roboto", "sans-serif";
}

/* .website-linkBtn {
  padding: 2%;
  background-color: #252424;
  border: none;
  color: #f7f3f3;
  margin: 3% 2% 8%;
}

.website-linkBtn:hover {
  font-weight: bold;
  color: #f3f3f3;
  text-decoration: none;
  font-family: "Roboto", "sans-serif";
} */

.sd-services {
  font-family: "Roboto", "sans-serif";
  padding: 3%;
  color: #6e6d6d;
  white-space: nowrap;
  font-size: 2.3vh;
}

input.checkbox {
  width: 15%;
  height: 2.5vh;
  vertical-align: middle;
}

.input-section {
  padding: 1.5% 2% 2%;
  column-count: 2;
}

.mb-0 {
  padding-top: 6.5%;
  font-size: 4vh;
}

/*   .underline {
    text-decoration: underline;
  } */

.mt-2,
.mb-2 {
  margin-top: 13px;
  margin-bottom: 13px;
}

/* .hero {
  /* overflow: hidden; */
/* max-height: 75vh; }*/

/* 
.section p {
  font-size: 2vh;
  font-family: "Roboto", "sans-serif";
} */

/*   .footer-wrapper {
    display: flex;
    padding: 50px;
    background-color: #fff;
  }
  
  .footer-wrapper li {
    list-style-type: none;
  }
  
  .footer-logo {
    width: 30%;
  }
  
  .footer-li-1, .footer-li-2 {
    width: 20%;
  } */

/* .white {
    background-color: #fff;
  } */

.print-btn {
  background-color: #383636;
  width: 35%;
  outline: none;
  box-shadow: none;
}

.print-btn h2 {
  color: #eeeeee;
  margin: 5%;
  font-size: 2.5vh;
  font-family: "Roboto", "sans-serif";
}

.print-btn:hover h2 {
  font-weight: bold;
  color: #ebebeb;
  text-decoration: none;
  font-family: "Roboto", "sans-serif";
  outline: none;
  box-shadow: none;
}

.sd-btn {
  padding: 5% 5%;
  text-align: center;
}

.sd-btn p {
  padding-top: 2%;
}

.scroll {
  overflow-y: scroll;
  max-height: 115vh;
  /*   min-height: 85vh; */
}

.fav-icon {
  border: none;
  float: right;
  padding-top: 3.5%;
  background-color: transparent;
}

.fav-icon:hover {
  color: red;
}
@media screen and (max-width: 1000px) {
  .row {
    flex-wrap: wrap;
  }
  .col-6 {
    width: 100%;
  }
}

.sd-rp-link {
  margin: 0px 1vw 0vw 0vw;
  text-decoration: none;
  color: #ad5430;
  cursor: pointer;
  font-weight: bold;
}

.sd-rp-link:hover {
  font-weight: normal;
  text-decoration: none;
  color: #c54b26;
}

/* SMARTPHONES */
@media screen and (min-width: 320px) and (max-width: 480px) {
  .mb-0 {
    padding-top: 6.5%;
    font-size: 3vh;
  }

  .sd-services {
    font-family: "Roboto", "sans-serif";
    padding: 2%;
    color: #6e6d6d;
    overflow: hidden;
    font-size: 2vh;
  }
}
