.share-modal-container {
  padding: 10%;
  font-family: "Roboto", sans-serif;
  font-size: 2vh;
}

.share-modal-container h2 {
  padding: 10% 0% 8%;
  text-align: center;
}

.sm-btn {
  background-color: rgb(41, 40, 40);
  padding: 3% 10% 3%;
}
.sm-btn a {
  font-size: 3.5vh;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.sm-print-btn {
  text-align: center;
}

form .form-control:focus{
  box-shadow: none;
  border-color: #302e2e;
}