.nav-bar {
  font-size: 5vh;
  font-family: "roboto", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-links {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}

.nav-links:hover {
  color: #f8f7f7;
  font-style: normal;
  font-weight: bold;
  text-decoration: overline;
  font-family: 'Poppins', sans-serif;
}

.title {
  font-size: 3vh;
  font-family: 'Poppins', sans-serif;
  opacity: 80%;
  font-weight: 600;
  color: #ffffff;
  padding-top: 2%;
}
