/* .nav-bar {
  font-size: 4.2vh;
  font-family: "roboto", Tahoma, Geneva, Verdana, sans-serif;
}

.nav-links {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;

}

.nav-links:hover {
  color: #694839;
  font-style: normal;
  font-weight: bold;
  text-decoration: overline;
  font-family: 'Poppins', sans-serif;
}

.nb-title {
  font-size: 3vh;
  font-family: 'Poppins', sans-serif;
  opacity: 80%;
  font-weight: 600;
  color: #ffffff;
  padding-top: 2%;
}
 
.rp-link {
  font-size: 3.2vh;
  font-family: "Roboto", "sans-serif";
  cursor: pointer;
  text-decoration: none;
  color: #080808;
  cursor: pointer;
}

.rp-link:hover {
  color: #2c2c2c;
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}

.justify-content-left{
  padding-top: 5%;
} */

.TopNavContainer {
  padding-top: 3%;
  font-family: "Roboto", "sans-serif";
}
.navTitle h1 {
  font-size: 3vh;
  color: rgb(255, 255, 255);
}

.mr-auto h3 {
  font-size: 3.5vh;
  color: white;
}

.mr-auto p {
  font-size: 3vh;
  color: white;
  padding-top: 5%;
}

.navTitle:hover h1 {
  color: #ffffff;
  font-weight: bold;
}

.nav-links:hover h3 {
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
  text-decoration: underline;
}

.nav-linksBtn {
  background-color: #1f1c1a;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-size: 2.5vh;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0%;
}

.nav-linksBtn:hover {
  color: #ffffff;
  font-style: normal;
  background-color: #3a3030;
}

.favs {
  font-size: 3vh;
}

.favs:hover {
  font-size: 3vh;
  text-decoration: none;
  font-weight: bold;
}

.user-logged {
  font-size: 2.2vh;
  text-decoration: none;
  font-family: "Roboto", "sans-serif";
}

.user-logged:hover {
  text-decoration: none;
  font-weight: bold;
}

/* SMARTPHONES */
@media (min-width: 320px) and (max-width: 480px) {
  .navTitle h1 {
    font-size: 4vh;
    color: rgb(255, 255, 255);
  }
}

/* IPADS */
@media (min-width: 768px) and (max-width: 1024px) {
  .navTitle h1 {
    font-size: 5.5vh;
    color: rgb(255, 255, 255);
  }
}

/* DESKTOPS AND LAPTOPS */
@media (min-width: 1224px) {
  .navTitle h1 {
    font-size: 3.8vh;
    color: rgb(255, 255, 255);
  }

  .mr-auto h3 {
    font-size: 4.5vh;
    color: white;
  }
}
