/* .nav-bar {
  font-size: 4.2vh;
  font-family: "roboto", Tahoma, Geneva, Verdana, sans-serif;
}
.nav-links {
  text-decoration: none;
  color: #ffffff;
  font-family: 'Poppins', sans-serif;
}
.nav-links:hover {
  color: #694839;
  font-style: normal;
  font-weight: bold;
  text-decoration: overline;
  font-family: 'Poppins', sans-serif;
}
.nb-title {
  font-size: 3vh;
  font-family: 'Poppins', sans-serif;
  opacity: 80%;
  font-weight: 600;
  color: #ffffff;
  padding-top: 2%;
}
 
.rp-link {
  font-size: 3.2vh;
  font-family: "Roboto", "sans-serif";
  cursor: pointer;
  text-decoration: none;
  color: #080808;
  cursor: pointer;
}
.rp-link:hover {
  color: #2c2c2c;
  font-style: normal;
  font-weight: bold;
  text-decoration: underline;
}
.justify-content-left{
  padding-top: 5%;
} */

.topnav-light-container {
  padding: 3% 10%;
  font-family: "Roboto", "sans-serif";
}

.topnav-light-title {
  color: rgb(255, 255, 255);
}

/* .mr-auto h3 {
  font-size: 3.5vh;
  color: white;
}
.mr-auto p {
  font-size: 3vh;
  color: white;
  padding-top: 5%;
} */

.navTitle:hover {
  color: #ffffff;
  font-weight: bold;
}

.topnav-light-links:hover {
  color: #ffffff;
  font-weight: bold;
  font-style: normal;
  font-size: 3vh;
  text-decoration: underline;
}

.topnav-light-links {
  color: #ffffff;
  font-size: 3vh;
  font-style: normal;
}

.signin-btn {
  background-color: #1f1c1a;
  text-transform: uppercase;
  letter-spacing: 1px;
  /* font-size: 2.5vh; */
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 0%;
}

.signin-btn:hover {
  color: #ffffff;
  font-style: normal;
  background-color: #695c59;
}
/* 
.favs {
  font-size: 3vh;
}

.favs:hover {
  font-size: 3vh;
  text-decoration: none;
  font-weight: bold;
} */

.user-logged {
  font-size: 2.2vh;
  text-decoration: none;
  font-family: "Roboto", "sans-serif";
}

.user-logged:hover {
  text-decoration: none;
  font-weight: bold;
}

.navbar-toggler-icon {
  font-size: 3vh;
}

@media (min-width: 568px) {
  .topnav-light-title {
    font-size: 3vh;
  }

  .signin-btn {
    font-size: 2vh;
  }
}

@media (min-width: 990px) {
  .topnav-light-title {
    font-size: 1.5vh;
  }

  .topnav-light-links:hover {
    font-size: 2vh;
  }

  .topnav-light-links {
    font-size: 2vh;
  }

  .signin-btn {
    font-size: 3.2vh;
  }
}

@media (min-width: 1275px) {
  .topnav-light-links:hover {
    font-size: 4vh;
  }

  .topnav-light-links {
    font-size: 4vh;
  }

  .topnav-light-title {
    font-size: 3vh;
  }
}
